$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

// there can be only one!
h1 {
	text-align: center;
	margin: 20px 0 20px 0;

	a {
		color: #333;
		text-decoration: none;

		&:hover {
			color: #333;
			text-decoration: none;
		}
	}
}

// rows for the sign up form
.input-group {
	margin-bottom: 20px;
}
// strange that this is an issue
.input-group-addon {
	top: 0;
}
.btn {
	width: 100%;
	font-size: 1.7em;
}


// the main namespace
.main {

    // add first journey section
    .add-first-journey {
    	/*a {
    		max-width: 300px;
    		margin: 0 auto;
    		display: block;
    	}*/
    }
}

// this is the route for the add journey section
.add-journey {

}