<div class="row">
	<form name="addJourney">
		<div class="input-group input-group-lg">
            <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
            <input type="time" name="name" class="form-control" ng-model="time" placeholder="Time" required>
        </div>

        <button type="button" class="btn btn-success" ng-disabled="addJourney.$invalid" ng-click="addJourney()">
            Add Journey <i class="fa fa-plus-circle" aria-hidden="true"></i>
        </button>
	</form>
</div>