@mixin pseudoShape($width, $height) {
	position: absolute;
	content: '';
	speak: none;
	width: $width;
	height: $height;
}

@mixin block-left(){
	display: block;
	float: left;
}

@mixin reset-box(){
	padding: 0;
	margin: 0;
}