@import "compass/css3";
@import "includes/_mixins";
@import "includes/_vars";


// the journeys accordian
.journeys {
	margin-bottom: 20px;
	position: relative;

	&:after {
		@include pseudoShape(100%, 100%);
		background-color: white;
		@include opacity(0.1);
		display: block;
		z-index: 1;
		top: 0;
		left: 0;
	}

	ul {
		list-style-type: none;
		@include reset-box;
		@include text-shadow(0px 3px 6px black);
		position: relative;
		z-index: 2;

		li {
			display: block;
			@include reset-box;
			width: 100%;

			&:last-child {
				article {
					border-bottom: none;
				}
			}

			a{
				display: block;
			}
		}
	}

	// diff styles for the diff weather colors
	.weather {
		&.bad {
			color: #F53838;
		}
		&.ok {
			color: #2DEDED;
		}
		&.good {
			color: #2DED73;
		}
	}

	h2 {
		display: inline-block;
		color: white;

		&:nth-child(2){
			float: right;
		}
	}

	article {
		padding: 0 5%;
		padding-bottom: 20px;
		border-bottom: 1px solid black;
	}

	.descr {
		p {
			display: inline-block;
			@include reset-box;
			font-size: 1.7em;
		}
		i {
			font-size: 8.0em;
			float: right;
			position: relative;
			top: 6px;
			right: 10px;
		}
	}

	.temp {
		font-size: 6.0em;
		top: -15px;
		position: relative;
	}

	.stats {
		li {
			width: 32%;
			font-size: 1.7em;
			text-align: center;
			display: inline-block;
		}
	}

	.crud-journey {
		margin-top: 20px;
		position: relative;

		li {
			display: inline-block;
			width: auto;

			&:nth-child(3) {
				float: right;
			}
			&:nth-child(2){
				position: absolute;
				width: 100%;
				left: 0;
				top: 0;
				z-index: -1;
			}
		}

		.fa-trash,
		.fa-edit {
			font-size: 3em;
			display: block;
			color: white;
		}

		h3 {
			width: 100%;
			text-align: center;
			margin-top: 10px;
			font-size: 1.4em;
			@include text-shadow(0px 0px 0px black);
		}
	}
}

@media only screen and (max-width:500px) {
	.journeys {
		h2 {
			width: 100%;
			font-size: 1.7em;
			text-align: center;

			&:nth-child(2) {
				margin-top: 0;
			}
		}
	}
}

@media only screen and (max-width: 460px) {
	.journeys {
		.descr {
			p {
				width: 100%;
			}
			i {
				font-size: 7.0em;
			}
		}
	}
}

@media only screen and (max-width: 430px) {

	.journeys {
		.stats{
			li {
				font-size: 1.0em;
			}
		}
	}
}