<div class="main">

    <!-- The register form, only show if not registered -->
    <register-form ng-show="!data.registered"></register-form>

    <!-- The add new journey section, show if registered but ... no journeys added -->
    <add-first-journey ng-show="data.registered && !data.journeys"></add-first-journey>

    <!-- The current journeys section, show this if they have registered and have some journeys in -->
    <div class="row" ng-show="data.registered && data.journeys">
        <h1>Put in a post code to get the weather:</h1>
        <form novalidate>
            <input type="text" ng-model="postcode" />
            <button ng-click="getWeather(postcode)">Get Data</button>
        </form>

        <div class="data">
            <h2>Todays weather</h2>
            <dl>
                <dt>max temp</dt>
                <dd>{{weatherData.data.weather[0].maxtempC}}</dd>
                <dt>min temp</dt>
                <dd>{{weatherData.data.weather[0].mintempC}}</dd>
            </dl>
        </div>
    </div>
</div>